<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Post{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/post/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/post/css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/post/css/main.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('news.jpg') }}"/>
</head>
<body>
{% include 'menu.html.twig' %}
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
